html {
  scroll-behavior: smooth;
}

body {
  color: #444444;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

.nav-link {
  font-size: 18px;
  border-radius: 10em;
}

.fadeup-enter-done {
  transition-duration: 1ms;
  transition-delay: 0.3ms;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.container {
  overflow: auto;
}

#headshot-img {
  align-items: center;
  border-radius: 1em;
  /* min-height: 100%; */
  zoom: 10;
}

.headshot {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  /* margin-right: auto; */
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.a {
  text-decoration: none;
  color: #007bff;
  transition: all 0.3s;
}

.a:hover {
  text-decoration: none;
  color: linear-gradient(90deg, #ff8a00, #e52e71);
  transition: all 0.3s;
}

.social-link {
  max-width: 100%;
  /* position: relative; */
  /* margin-top: auto; */
  /* display: flex; */
  /* position: -webkit-sticky; */
  /* Safari */
  /* position: sticky; */
  margin: auto;
  /* top: 35%; */
}

.social-link li {

  border-radius: 50%;
  /* position: relative; */
  display: inline-block;
  padding: 10px 10px 10px 10px;
  /* max-width: 30%; */
  max-height: 300px;
}

.desc {
  display: flex;
}

.job {
  flex: 1;
}

#exp-date {
  float: left;
  text-align: right;
  flex: 2;
}

.experience-desc {
  display: flex;
}

.exp-desc-left {
  flex: 1;
}

.exp-desc-right {
  flex: 2;
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  align-items: center;
  /* flex-wrap: wrap; */
}

#exp-desc {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  /* flex-wrap: wrap; */
}

/* .card-img {
  max-width: 300px;
  max-height: 200px;

} */

.card-img-top {
  max-width: 300px;
  max-height: 200px;
  padding: 0%;
}

.icon-box {
  display: flex;
  padding: 30px;
}

.tech-icon {
  height: 40px;
  /* width: 20px; */
  flex: 1;
}

.tech-desc {
  font-size: 30px;
  font-weight: 200;
  flex: 2;
  padding-left: 5px;
}

.social-link-in-contact {
  max-width: 100%;
  max-height: 100%;
}

.social-link-in-contact li {
  border-radius: 50%;
  /* position: relative; */
  display: inline-block;
  padding: 10px 10px 10px 10px;
  /* max-width: 30%; */
  max-height: 400px;
}

.social-link:hover {
  /* background: linear-gradient(90deg, #ff8a00, #e52e71); */
  text-shadow: none;
  -webkit-text-fill-color: linear-gradient(90deg, #ff8a00, #e52e71);
  /* -webkit-background-clip: text; */
  background-clip: text;
}

#contact {
  font-weight: 200;
}

.modal-content {
  background-color: #17141d !important;
  color: white !important;
}


#amazon-button,
#paytm-button {
  background-color: #302d2d;
  color: rgb(189, 186, 186);
  border: 2px solid #4f524f;
}